.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-close {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-down {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-edit {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-edit_custom {
	font-size:(15/10)*1rem;
	width:(16/15)*1em;
}
.icon-finish {
	font-size:(25/10)*1rem;
	width:(18/25)*1em;
}
.icon-notice {
	font-size:(8/10)*1rem;
	width:(3/8)*1em;
}
.icon-plus {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-search {
	font-size:(21/10)*1rem;
	width:(20/21)*1em;
}
.icon-tree {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
